<a href="https://colab.research.google.com/github/KeenanFernandes2000/testing/blob/master/rawDataEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [18]:
!pip install dataprep --quiet
!pip install mitosheet --quiet
import numpy as np
import pandas as pd 
import warnings 
from numpy import sort
from dataprep.eda import create_report
import mitosheet

In [13]:
sem2df = pd.read_csv('/content/Semnal_2.csv')
sem5df = pd.read_csv('/content/Semnal_5.csv')
sem6df = pd.read_csv('/content/Semnal_6.csv')

In [16]:
sem6df

       idContor                DT  Value
0          1910  06/01/2023 16:00   9.90
1          1910  06/01/2023 20:00  10.40
2          1910  07/01/2023 00:00  14.60
3          1910  07/01/2023 04:00  14.37
4          1910  07/01/2023 08:00  10.53
...         ...               ...    ...
12670     26985  31/03/2023 04:00  15.54
12671     26985  31/03/2023 08:00  15.46
12672     26985  31/03/2023 12:00  16.47
12673     26985  31/03/2023 16:00  16.44
12674     26985  31/03/2023 20:00  19.36

[12675 rows x 3 columns]

In [21]:
rep1 = create_report(sem2df)
rep1.save('/content/reportSem2.html')
rep2 = create_report(sem5df)
rep2.save('/content/reportSem5.html')
rep3 = create_report(sem6df)
rep3.save('/content/reportSem6.html')

/usr/local/lib/python3.10/dist-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))

Report has been saved to /content/reportSem2.html!

/usr/local/lib/python3.10/dist-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))

Report has been saved to /content/reportSem5.html!

/usr/local/lib/python3.10/dist-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))

Report has been saved to /content/reportSem6.html!