<a href="https://colab.research.google.com/github/KeenanFernandes2000/testing/blob/master/rawDataEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# minMax scalling feature manually 
# scaledDF = (xdf-xdf.min())/(xdf.max()-xdf.min())
# scaler = MinMaxScaler()
# floCol = xdf[[ 'Afr0', 'Afr1', 'Afr2', 'Afr3', 'Afr4', 'Afr5', 'Afr6']]
# refCol = xdf[['Tr0', 'Tr1', 'Tr2', 'Tr3', 'Tr4', 'Tr5', 'Tr6']]

# for x in refCol:
#   xdf[[x]] = scaler.fit_transform(xdf[[x]])
# for x in floCol:
#   xdf[[x]] = scaler.fit_transform(xdf[[x]])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install dataprep --quiet

import numpy as np
import pandas as pd 
import warnings 
from numpy import sort
from dataprep.eda import create_report
# from sklearn.preprocessing import MinMaxScaler, StandardScaler

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 55.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 50.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.6/133.6 kB 12.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 41.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 51.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 38.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 764.0/764.0 kB 38.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 64.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 5.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 25.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 9.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 5.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 56.9 MB/s eta 0:00:00
  Building wheel for sqlalchemy (setup.py) ... done
  Building wheel for metaphone (setup.py) ... done

In [ ]:
pd.set_option("display.max_columns" , None)
# pd.set_option('display.max_rows',None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.simplefilter("ignore")

In [ ]:
cdf = pd.read_csv("/content/drive/MyDrive/raw cr complaints till 31-3-2023.csv")
cdf.shape

(63105, 65)

In [ ]:
# GENERATING PRE-PROCESSING EDA REPORT
# report = create_report(cdf)
# report # show report in notebook
# report.save('/content/Training Dataset pre-processing EDA')

In [ ]:
df = cdf.copy(deep=True)
# print(df.columns)
print(df.shape)

(63105, 65)

In [ ]:
# REMOVING MAIN METER

# print(df[df['Code'].str.endswith('MM')].shape)
# print(df[df['Code'].str.endswith('-MM')].shape)
# print(df[df['Code'].str.contains('MM', case=False)].shape)
# print(df[df['Code'].str.contains('-MM', case=False)].shape)

In [ ]:
df = df[(~df["Datediff"].isna()) & (~df["Complaintsubtype"].astype(str).str.contains("connection", case=False)) & (~df["Complaintsubtype"].astype(str).str.contains("High Bill", case=False)) & (~df["Complainttype"].astype(str).str.contains("Enquiry", case=False))]
df = df[(df['Datediff'] < 11)]
df = df[(~df['Code'].str.contains('MM', case=False))]
df.shape

(27587, 65)

In [ ]:
df['newCoolingLabel'] = np.where(df['Purpose'].astype(str).str.contains("cool", case=False), 1, 0)

df.shape

(63105, 66)

In [ ]:
df = df[(~df['Unittype'].astype(str).str.contains("labor accom", case=False))]
df.shape

(59298, 66)

In [ ]:
df = df[(df['Datediff'] < 11)]
df.shape

(37670, 66)

In [ ]:
df.head(5)

,Idcontor,Property,Code,Location,Sector,Unittype,Emmsysstatus,Activitytype,Complaintdate,Complainttype,Complaintsubtype,Purpose,Readingdate,Lastreadingdate,Datediff,Denserank,Art0,Art1,Art2,Art3,Art4,Art5,Art6,Ast0,Ast1,Ast2,Ast3,Ast4,Ast5,Ast6,Afr0,Afr1,Afr2,Afr3,Afr4,Afr5,Afr6,D0,D1,D2,D3,D4,D5,D6,Expectedtr,Tr0,Tr1,Tr2,Tr3,Tr4,Tr5,Tr6,Minreturn,Minsupply,Minflow,Mindelta,Maxreturn,Maxsupply,Maxflow,Maxdelta,Avgreturn,Avgsupply,Avgflow,Avgdelta,coolingLabel,newCoolingLabel
0,3162.00,PI000233,DIP|1100|GWAD|3315,DIP,RESDNL,1BR,Disconnected,CR047521,8/4/16,Cooling,No Cooling - F,No Cooling - Full unit,8/4/16,7/28/16,7.00,1,12.60,9.91,8.95,12.09,11.29,11.47,11.21,7.07,3.61,3.40,4.30,4.24,4.10,4.31,2.68,3.29,3.85,3.26,2.27,1.98,4.38,5.53,6.30,5.55,7.79,7.05,7.37,6.90,3.60,4.89,6.84,7.06,8.39,5.28,4.82,9.98,8.95,3.40,1.98,5.53,12.60,7.07,4.38,7.79,11.07,4.43,3.10,6.64,1,1
4,3461.00,PI000459,DIP|1100|TH|222,DIP,RESDNL,TOWNHOUSE,Connected,CR004551,11/13/13,High Bill,High Bill,high bill,11/13/13,11/7/13,6.00,1,11.33,11.52,11.37,11.84,11.09,11.45,10.51,6.18,6.65,6.36,6.55,6.41,6.26,6.03,6.74,5.37,6.24,7.10,5.88,8.31,11.30,5.15,4.87,5.01,5.29,4.68,5.19,4.48,9.00,11.46,8.64,10.32,12.40,9.09,14.24,16.72,10.51,6.03,5.37,4.48,11.84,6.65,11.30,5.29,11.30,6.35,7.28,4.95,0,0
5,3510.00,PI000503,DIP|1100|TH|425,DIP,RESDNL,TOWNHOUSE,Connected,CR140585,4/25/19,Home Service,Prepare Quote/Contra,Prepare Quote/Contra,4/25/19,4/19/19,6.00,1,4.24,1.27,0.00,0.00,0.00,0.00,5.94,3.33,0.97,0.00,0.00,0.00,9.19,11.78,1.92,0.69,0.00,0.00,0.00,0.00,0.00,0.91,0.30,0.00,0.00,0.00,-9.19,-5.84,9.00,0.58,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-9.19,5.94,11.78,1.92,0.91,1.64,3.61,0.37,-1.97,0,0
6,3518.00,PI000511,DIP|1100|TH|441,DIP,RESDNL,TOWNHOUSE,Connected,CR022036,2/3/15,Repair,Water Leakage,Leakage,2/3/15,1/28/15,6.00,1,8.14,5.57,7.97,10.22,8.74,10.94,10.75,7.53,5.26,7.22,9.42,8.11,10.31,9.76,2.52,2.22,2.25,2.90,0.79,2.67,2.58,0.61,0.31,0.75,0.80,0.63,0.63,0.99,9.00,0.51,0.23,0.56,0.77,0.16,0.56,0.84,5.57,5.26,0.79,0.31,10.94,10.31,2.90,0.99,8.90,8.23,2.28,0.67,0,0
7,3641.00,PI000587,DIP|1100|TH|761,DIP,RESDNL,TOWNHOUSE,Connected,CR000130,5/21/12,General,Meter Related Enq.,Meter check,5/21/12,5/15/12,6.00,1,9.73,11.06,12.27,11.50,9.49,10.87,11.00,6.29,6.49,5.78,7.11,5.52,6.93,5.98,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.44,4.57,6.49,4.39,3.97,3.94,5.02,9.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9.49,5.52,0.00,3.44,12.27,7.11,0.00,6.49,10.85,6.30,0.00,4.55,0,0

In [ ]:
cleandf = df[(df.D0 != 0) & (df.D1 != 0) & (df.D2 != 0) & (df.D3 != 0) & (df.D4 != 0) & (df.D5 != 0) & (df.D6 != 0) \
         & (df.Afr0 != 0) & (df.Afr1 != 0) & (df.Afr2 != 0) & (df.Afr3 != 0) & (df.Afr4 != 0) & (df.Afr5 != 0) & (df.Afr6 != 0)\
         & (df.Tr0 != 0) & (df.Tr1 != 0) & (df.Tr2 != 0) & (df.Tr3 != 0) & (df.Tr4 != 0) & (df.Tr5 != 0) & (df.Tr6 != 0)]
print(cleandf.shape)

(15053, 66)

In [ ]:
cleandf.describe()

,Idcontor,Datediff,Denserank,Art0,Art1,Art2,Art3,Art4,Art5,Art6,Ast0,Ast1,Ast2,Ast3,Ast4,Ast5,Ast6,Afr0,Afr1,Afr2,Afr3,Afr4,Afr5,Afr6,D0,D1,D2,D3,D4,D5,D6,Expectedtr,Tr0,Tr1,Tr2,Tr3,Tr4,Tr5,Tr6,Minreturn,Minsupply,Minflow,Mindelta,Maxreturn,Maxsupply,Maxflow,Maxdelta,Avgreturn,Avgsupply,Avgflow,Avgdelta,coolingLabel,newCoolingLabel
count,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00
mean,10181.13,6.32,1.00,12.68,12.47,12.32,12.26,12.24,12.22,12.16,8.37,8.07,7.91,7.89,7.88,7.87,7.88,338.77,327.32,304.73,266.67,299.12,305.69,315.46,4.32,4.40,4.41,4.37,4.37,4.35,4.28,43.28,405.26,390.53,399.99,327.34,375.35,382.68,374.70,9.92,6.39,160.26,2.71,14.79,9.86,426.88,6.06,12.34,7.98,308.25,4.36,0.34,0.33
std,7857.61,0.77,0.00,4.32,4.30,4.19,4.17,4.10,4.12,4.14,3.49,3.22,3.06,3.04,3.02,3.02,3.09,6920.59,6213.90,5912.84,4827.53,5995.56,6283.14,6303.75,3.67,3.75,3.71,3.67,3.66,3.62,3.62,171.17,10975.22,9573.68,9851.79,7542.09,9623.93,9633.59,9594.50,3.87,2.59,3083.02,3.27,4.27,3.80,7939.19,3.90,3.70,2.74,5796.21,3.38,0.47,0.47
min,23.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.01,0.01,-21.81,-25.74,-23.18,-25.33,-24.98,-20.55,-27.67,0.00,-449764.95,-503318.83,-301974.90,-249695.55,-434880.60,-429573.60,-449235.71,0.00,0.00,0.01,-27.67,0.00,0.00,0.02,-14.20,0.00,0.00,0.02,-20.15,0.00,0.00
25%,3191.00,6.00,1.00,9.87,9.67,9.58,9.50,9.55,9.55,9.51,5.97,5.89,5.83,5.83,5.84,5.84,5.81,1.35,1.36,1.43,1.41,1.45,1.47,1.43,2.07,2.05,2.08,2.06,2.11,2.08,1.99,3.00,1.07,1.08,1.13,1.11,1.18,1.18,1.09,7.27,4.78,0.63,0.80,11.87,7.13,2.49,3.70,9.89,6.02,1.61,2.34,0.00,0.00
50%,7330.00,6.00,1.00,12.36,12.18,12.04,12.04,12.03,12.00,11.96,7.77,7.57,7.48,7.46,7.44,7.47,7.43,3.01,3.10,3.18,3.19,3.22,3.27,3.24,4.12,4.22,4.24,4.20,4.23,4.20,4.15,4.80,3.71,3.78,3.96,3.94,4.01,4.11,3.93,9.98,6.21,1.62,2.57,14.23,9.05,4.77,5.87,12.10,7.61,3.28,4.26,0.00,0.00
75%,16166.00,6.00,1.00,15.25,14.97,14.74,14.65,14.57,14.63,14.52,9.98,9.53,9.31,9.30,9.30,9.29,9.29,11.69,11.76,12.20,12.16,12.27,12.17,12.29,6.38,6.47,6.51,6.42,6.46,6.40,6.33,10.00,14.36,14.28,14.75,14.60,14.72,14.71,14.56,12.33,7.83,5.89,4.54,17.53,11.75,20.56,8.16,14.53,9.39,13.53,6.27,1.00,1.00
max,38878.00,10.00,1.00,29.10,28.29,28.89,29.57,29.80,29.90,29.17,28.30,28.32,28.92,28.00,28.50,28.67,28.50,477768.00,384446.00,413184.00,319080.00,338220.00,384660.00,426072.00,24.31,27.20,28.33,29.00,28.50,29.00,28.00,3342.84,733618.20,467591.15,631719.92,455180.26,513756.35,569056.16,637354.83,27.04,26.78,222240.00,21.00,29.90,28.92,477768.00,29.00,27.74,27.67,342816.29,26.52,1.00,1.00

In [ ]:
floCol = cleandf[[ 'Afr0', 'Afr1', 'Afr2', 'Afr3', 'Afr4', 'Afr5', 'Afr6']]
refCol = cleandf[['Tr0', 'Tr1', 'Tr2', 'Tr3', 'Tr4', 'Tr5', 'Tr6']]
#setting upper limit for flow and TR
for x in floCol:
    cleandf[x].mask(cleandf[x] > cleandf[x].quantile(0.95), 0, inplace=True)
for x in refCol:
    cleandf[x].mask(cleandf[x] > cleandf[x].quantile(0.95), 0, inplace=True)

In [ ]:
cleandf = cleandf[(cleandf.Afr0 != 0) & (cleandf.Afr1 != 0) & (cleandf.Afr2 != 0) & (cleandf.Afr3 != 0) & (cleandf.Afr4 != 0) & (cleandf.Afr5 != 0) & (cleandf.Afr6 != 0)\
         & (cleandf.Tr0 != 0) & (cleandf.Tr1 != 0) & (cleandf.Tr2 != 0) & (cleandf.Tr3 != 0) & (cleandf.Tr4 != 0) & (cleandf.Tr5 != 0) & (cleandf.Tr6 != 0)]
print(cleandf.shape)

(10144, 65)

In [ ]:
# cleandf.isna().sum()

# (cleandf == 0).sum()

In [ ]:
for x in floCol:
  # cleandf[x] = np.log(cleandf[x])
  # cleandf[x] = np.log2(cleandf[x])
  cleandf[x] = np.log10(cleandf[x])

for x in refCol:
  # cleandf[x] = np.log(cleandf[x])
  # cleandf[x] = np.log2(cleandf[x])
  cleandf[x] = np.log10(cleandf[x])

In [ ]:
cleandf.describe()

,Idcontor,Datediff,Denserank,Art0,Art1,Art2,Art3,Art4,Art5,Art6,Ast0,Ast1,Ast2,Ast3,Ast4,Ast5,Ast6,Afr0,Afr1,Afr2,Afr3,Afr4,Afr5,Afr6,D0,D1,D2,D3,D4,D5,D6,Expectedtr,Tr0,Tr1,Tr2,Tr3,Tr4,Tr5,Tr6,Minreturn,Minsupply,Minflow,Mindelta,Maxreturn,Maxsupply,Maxflow,Maxdelta,Avgreturn,Avgsupply,Avgflow,Avgdelta,coolingLabel,newCoolingLabel
count,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,14307.00,14360.00,14394.00,14387.00,14395.00,14391.00,14374.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00,15053.00
mean,10181.13,6.32,1.00,12.68,12.47,12.32,12.26,12.24,12.22,12.16,8.37,8.07,7.91,7.89,7.88,7.87,7.88,0.67,0.67,0.68,0.68,0.69,0.70,0.69,4.32,4.40,4.41,4.37,4.37,4.35,4.28,43.28,0.72,0.72,0.73,0.73,0.74,0.75,0.73,9.92,6.39,160.26,2.71,14.79,9.86,426.88,6.06,12.34,7.98,308.25,4.36,0.34,0.33
std,7857.61,0.77,0.00,4.32,4.30,4.19,4.17,4.10,4.12,4.14,3.49,3.22,3.06,3.04,3.02,3.02,3.09,0.91,0.91,0.91,0.91,0.90,0.90,0.90,3.67,3.75,3.71,3.67,3.66,3.62,3.62,171.17,1.03,1.03,1.03,1.03,1.02,1.01,1.03,3.87,2.59,3083.02,3.27,4.27,3.80,7939.19,3.90,3.70,2.74,5796.21,3.38,0.47,0.47
min,23.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-2.00,-2.00,-2.00,-2.00,-2.00,-2.00,-2.00,-21.81,-25.74,-23.18,-25.33,-24.98,-20.55,-27.67,0.00,-2.00,-2.00,-2.00,-2.00,-2.00,-2.00,-2.00,0.00,0.00,0.01,-27.67,0.00,0.00,0.02,-14.20,0.00,0.00,0.02,-20.15,0.00,0.00
25%,3191.00,6.00,1.00,9.87,9.67,9.58,9.50,9.55,9.55,9.51,5.97,5.89,5.83,5.83,5.84,5.84,5.81,0.13,0.13,0.16,0.15,0.16,0.17,0.16,2.07,2.05,2.08,2.06,2.11,2.08,1.99,3.00,0.14,0.14,0.15,0.14,0.17,0.17,0.14,7.27,4.78,0.63,0.80,11.87,7.13,2.49,3.70,9.89,6.02,1.61,2.34,0.00,0.00
50%,7330.00,6.00,1.00,12.36,12.18,12.04,12.04,12.03,12.00,11.96,7.77,7.57,7.48,7.46,7.44,7.47,7.43,0.48,0.49,0.50,0.50,0.51,0.51,0.51,4.12,4.22,4.24,4.20,4.23,4.20,4.15,4.80,0.61,0.62,0.63,0.64,0.64,0.65,0.63,9.98,6.21,1.62,2.57,14.23,9.05,4.77,5.87,12.10,7.61,3.28,4.26,0.00,0.00
75%,16166.00,6.00,1.00,15.25,14.97,14.74,14.65,14.57,14.63,14.52,9.98,9.53,9.31,9.30,9.30,9.29,9.29,1.07,1.07,1.09,1.08,1.09,1.09,1.09,6.38,6.47,6.51,6.42,6.46,6.40,6.33,10.00,1.21,1.20,1.22,1.22,1.21,1.21,1.21,12.33,7.83,5.89,4.54,17.53,11.75,20.56,8.16,14.53,9.39,13.53,6.27,1.00,1.00
max,38878.00,10.00,1.00,29.10,28.29,28.89,29.57,29.80,29.90,29.17,28.30,28.32,28.92,28.00,28.50,28.67,28.50,5.68,5.58,5.62,5.50,5.53,5.59,5.63,24.31,27.20,28.33,29.00,28.50,29.00,28.00,3342.84,5.87,5.67,5.80,5.66,5.71,5.76,5.80,27.04,26.78,222240.00,21.00,29.90,28.92,477768.00,29.00,27.74,27.67,342816.29,26.52,1.00,1.00

In [ ]:
cleandf['Complaintdate'] = pd.to_datetime(cleandf['Complaintdate'], errors='coerce')
cleandf['Quater'] = cleandf.Complaintdate.dt.quarter
cleandf.shape

(15053, 67)

In [ ]:
cleandf.head(10)

,Idcontor,Property,Code,Location,Sector,Unittype,Emmsysstatus,Activitytype,Complaintdate,Complainttype,Complaintsubtype,Purpose,Readingdate,Lastreadingdate,Datediff,Denserank,Art0,Art1,Art2,Art3,Art4,Art5,Art6,Ast0,Ast1,Ast2,Ast3,Ast4,Ast5,Ast6,Afr0,Afr1,Afr2,Afr3,Afr4,Afr5,Afr6,D0,D1,D2,D3,D4,D5,D6,Expectedtr,Tr0,Tr1,Tr2,Tr3,Tr4,Tr5,Tr6,Minreturn,Minsupply,Minflow,Mindelta,Maxreturn,Maxsupply,Maxflow,Maxdelta,Avgreturn,Avgsupply,Avgflow,Avgdelta,coolingLabel,newCoolingLabel,Quater
0,3162.00,PI000233,DIP|1100|GWAD|3315,DIP,RESDNL,1BR,Disconnected,CR047521,2016-08-04,Cooling,No Cooling - F,No Cooling - Full unit,8/4/16,7/28/16,7.00,1,12.60,9.91,8.95,12.09,11.29,11.47,11.21,7.07,3.61,3.40,4.30,4.24,4.10,4.31,0.43,0.52,0.59,0.51,0.36,0.30,0.64,5.53,6.30,5.55,7.79,7.05,7.37,6.90,3.60,0.69,0.84,0.85,0.92,0.72,0.68,1.00,8.95,3.40,1.98,5.53,12.60,7.07,4.38,7.79,11.07,4.43,3.10,6.64,1,1,3
4,3461.00,PI000459,DIP|1100|TH|222,DIP,RESDNL,TOWNHOUSE,Connected,CR004551,2013-11-13,High Bill,High Bill,high bill,11/13/13,11/7/13,6.00,1,11.33,11.52,11.37,11.84,11.09,11.45,10.51,6.18,6.65,6.36,6.55,6.41,6.26,6.03,0.83,0.73,0.80,0.85,0.77,0.92,1.05,5.15,4.87,5.01,5.29,4.68,5.19,4.48,9.00,1.06,0.94,1.01,1.09,0.96,1.15,1.22,10.51,6.03,5.37,4.48,11.84,6.65,11.30,5.29,11.30,6.35,7.28,4.95,0,0,4
6,3518.00,PI000511,DIP|1100|TH|441,DIP,RESDNL,TOWNHOUSE,Connected,CR022036,2015-02-03,Repair,Water Leakage,Leakage,2/3/15,1/28/15,6.00,1,8.14,5.57,7.97,10.22,8.74,10.94,10.75,7.53,5.26,7.22,9.42,8.11,10.31,9.76,0.40,0.35,0.35,0.46,-0.10,0.43,0.41,0.61,0.31,0.75,0.80,0.63,0.63,0.99,9.00,-0.29,-0.64,-0.25,-0.11,-0.80,-0.25,-0.08,5.57,5.26,0.79,0.31,10.94,10.31,2.90,0.99,8.90,8.23,2.28,0.67,0,0,1
9,3726.00,PI000668,DIP|1100|TH|895,DIP,RESDNL,TOWNHOUSE,Connected,CR082969,2018-01-16,Home Service,Complaints,Home Service Complains,1/16/18,1/9/18,7.00,1,6.82,7.63,6.70,6.66,6.29,9.28,7.85,6.36,7.04,5.99,6.10,5.56,8.64,7.20,0.74,0.78,0.90,0.92,0.54,0.72,1.02,0.46,0.59,0.71,0.56,0.73,0.64,0.65,9.00,-0.08,0.07,0.27,0.18,-0.08,0.05,0.35,6.29,5.56,3.47,0.46,9.28,8.64,10.51,0.73,7.32,6.70,6.73,0.62,0,0,1
10,2074.00,PI000735,DIP|1111|598|1635-MM,DIP,CMRL,Office,Connected,CR041086,2016-03-31,Cooling,Low Cooling,Low Cooling,3/31/16,3/25/16,6.00,1,6.46,6.22,4.28,6.77,5.97,3.20,3.67,3.44,3.51,2.67,4.37,3.82,2.50,2.75,2.04,2.04,1.99,2.18,2.13,1.68,1.80,3.02,2.71,1.61,2.40,2.15,0.70,0.92,375.00,2.04,1.99,1.72,2.08,1.98,1.04,1.28,3.20,2.50,47.48,0.70,6.77,4.37,151.64,3.02,5.22,3.29,101.85,1.93,1,1,1
17,192.00,PI001136,DIP|1141|DV04|504,DIP,RESDNL,1BR,Connected,CR165448,2021-08-08,Cooling Complaint,No Cooling,No Cooling,8/8/21,8/2/21,6.00,1,16.81,16.46,16.89,16.88,12.80,11.42,11.09,10.74,10.72,11.08,11.77,9.49,9.69,8.56,0.78,0.54,0.49,0.58,0.50,0.68,0.78,6.07,5.74,5.81,5.11,3.31,1.73,2.53,2.75,1.08,0.82,0.77,0.80,0.53,0.44,0.70,11.09,8.56,3.06,1.73,16.89,11.77,6.00,6.07,14.62,10.29,4.32,4.33,1,1,3
18,192.00,PI001136,DIP|1141|DV04|504,DIP,RESDNL,1BR,Connected,CR165325,2021-08-04,Cooling Complaint,No Cooling,No Cooling,8/4/21,7/29/21,6.00,1,12.80,11.42,11.09,9.83,11.73,11.76,9.25,9.49,9.69,8.56,7.67,7.65,10.13,7.87,0.50,0.68,0.78,0.84,1.04,0.74,0.68,3.31,1.73,2.53,2.16,4.08,1.63,1.38,2.75,0.53,0.44,0.70,0.69,1.17,0.47,0.33,9.25,7.65,3.13,1.38,12.80,10.13,10.96,4.08,11.13,8.72,6.01,2.40,1,1,3
26,2364.00,PI001919,DIP|1200|BG|1113,DIP,RESDNL,BUNGALOW,Connected,CR036603,2015-11-01,Cooling,No Cooling,No Cooling,11/1/15,10/26/15,6.00,1,12.49,12.82,12.47,12.21,12.61,12.75,12.88,8.19,8.01,8.34,7.89,8.25,8.28,8.29,0.28,-0.20,0.46,0.36,0.45,0.37,0.26,4.30,4.81,4.13,4.32,4.36,4.47,4.59,10.00,0.44,0.00,0.60,0.51,0.61,0.54,0.44,12.21,7.89,0.63,4.13,12.88,8.34,2.89,4.81,12.60,8.18,2.10,4.43,1,1,4
31,2379.00,PI001936,DIP|1200|BG|1130,DIP,RESDNL,BUNGALOW,Connected,004348_006,2012-10-02,High Bill,High Bill,high billing,10/2/12,9/25/12,7.00,1,14.22,13.52,11.78,12.14,13.21,11.81,12.23,6.83,7.01,6.56,6.65,6.95,6.64,7.10,0.53,0.44,0.43,0.82,0.35,0.62,0.20,7.39,6.51,5.22,5.49,6.26,5.17,5.13,10.00,0.92,0.77,0.67,1.08,0.66,0.85,0.42,11.78,6.56,1.57,5.13,14.22,7.10,6.65,7.39,12.70,6.82,3.35,5.88,0,0,4
35,2389.00,PI001947,DIP|1200|BG|1141,DIP,RESDNL,BUNGALOW,Connected,CR096545,2018-05-15,Enquiry,Payment Confirmation,payment Confirmation,5/15/18,5/9/18,6.00,1,11.39,11.54,11.35,11.19,11.41,12.39,11.42,6.31,6.47,6.73,6.48,6.37,6.81,6.73,1.61,1.68,1.58,1.61,1.72,1.77,1.60,5.08,5.07,4.62,4.71,5.04,5.58,4.69,10.00,1.83,1.91,1.76,1.80,1.94,2.03,1.79,11.19,6.31,37.76,4.62,12.39,6.81,58.35,5.58,11.53,6.56,45.34,4.97,0,0,2

In [ ]:
cleandf = cleandf[['Idcontor', 'Property', 'Code', 'Location', 'Sector', 'Unittype',\
       'Emmsysstatus', 'Activitytype', 'Complaintdate', 'Complainttype',\
       'Complaintsubtype', 'Purpose', 'Readingdate', 'Lastreadingdate',\
       'Datediff', 'Denserank', 'Quater', 'Art0', 'Art1', 'Art2', 'Art3', 'Art4', 'Art5',\
       'Art6', 'Ast0', 'Ast1', 'Ast2', 'Ast3', 'Ast4', 'Ast5', 'Ast6', 'Afr0',\
       'Afr1', 'Afr2', 'Afr3', 'Afr4', 'Afr5', 'Afr6', 'D0', 'D1', 'D2', 'D3',\
       'D4', 'D5', 'D6', 'Expectedtr', 'Tr0', 'Tr1', 'Tr2', 'Tr3', 'Tr4',\
       'Tr5', 'Tr6', 'Minreturn', 'Minsupply', 'Minflow', 'Mindelta',\
       'Maxreturn', 'Maxsupply', 'Maxflow', 'Maxdelta', 'Avgreturn',\
       'Avgsupply', 'Avgflow', 'Avgdelta', 'coolingLabel', 'newCoolingLabel']]
cleandf.shape

(15053, 67)

In [ ]:
newdf = cleandf.copy(deep=True)
newdf = newdf.replace([np.inf, -np.inf], np.nan).dropna(axis=0)
newdf.shape

(13500, 67)

In [ ]:
cooling = newdf[(newdf.newCoolingLabel == 1)]
noncooling = newdf[(newdf.newCoolingLabel == 0)]

print(cooling.shape[0])
print(noncooling.shape[0])

4655
8845

In [ ]:
report = create_report(cleandf)
# report # show report in notebook
# report.save('/content/Training Dataset after pre-processing EDA - removed all 0 from DeltaT FR and TR with 95th percentiles limits and log10 of FR and max datediff of 10 no main meter and with quaters')

report.save('/content/Training Dataset after pre-processing EDA - cleanModelDatasetFRTRLog10DatediffQuatersNewCoolingLableNoLabourAccom')

Report has been saved to /content/Training Dataset after pre-processing EDA - cleanModelDatasetFRTRLog10DatediffQuatersNewCoolingLableNoLabourAccom.html!

In [ ]:
cleandf.to_csv("cleanModelDatasetFRTRLog10DatediffQuatersNewCoolingLableNoLabourAccom.csv", index=False)